.textoaboutus {
    color: rgb(255, 255, 255);
}

.img-about {
    border-radius: 20px;
}

  .carousel-caption{
      color: #05b3b3;
  }
  /* .carousel-inner img {
    width: 100%;
    max-height: 600px;
} */

/* .carousel-inner{
 height: 1200px;
} */


.color-cont {
    color: #000000;
    opacity: 0.5;
}

.titulo-main {
    text-align: center;
}

.parrafo {
    text-align: center;
}

@media (min-width: 1200px) {
    .container-2 {
        width: 1000px;
    }
}

  .accordion-button{
      color: #2e81fd;
      font-weight: 600;
  }

  .accordion-collapse {
      color: blue;
      background-color: whitesmoke;
  }
 

.buttons {
  min-width: 230px;
  display: flex;
  justify-content: space-around;
}

.buttons a {
  text-decoration: none;
  font-size: 20px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
  position: relative;
  top: -29px;
  right: -100px;
}


.buttons a:hover {
  transform: scale(1.2);
}

.buttons-2 a {
  text-decoration: none;
  font-size: 20px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;

}


.buttons-2 a:hover {
  transform: scale(1.2);
}


.accordion-collapse {
    color: #0f1e27;
    background-color: rgb(255, 255, 255);
}

.fila-botones-{
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo-main{
  color: #314652;
  font-weight:600;
  
}

.titulo-aboutus{
  font-weight: 600;
}

.copyright{
  font-size: small;
}